@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  }
}

@layer utilities {
  .font-medium {
    font-weight: 400;
  }
}

.maplibregl-ctrl-bottom-left { transform: scale(0.75); opacity: 0.6; }
